
/* Hacemos que el 'body' tenga una imagen de fondo*/

body{
background-size:cover; /*Que la imagen ocupe toda la página*/
/*Añadimos transparencia a la imagen de fondo*/
background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%), url(../figuras/fondo.jpeg);
}

/* Definimos la clase 'center' para las tablas*/


#Table{
   position: absolute;
   left: 50%;
   margin-left: -300px;
   top: 50%;
   margin-top: -300px;
}

/* Establecemos el formato para h2, h3, h4 y p */

h1 {color:white}
h2 {color:grey}
h3 {color:green;}
h4 {color:blue;}
p {color:white; font-size:14pt; font-family:"Verdana",sans-serif;}









